<div class="container">
    <h1>Poke'mon details</h1>
    <p>This table conatins a list of all Poke'mon. To add data on a new one, click <a href="./newPokemon">here</a>.</p>
    
    {{!TODO Your table here}}
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Image</th>
                <th>ID</th>
                <th>Name</th>
                <th>Types</th>
                <th>Description</th>
            </tr>

        </thead>
        <tbody>
            {{#each context}}
            <tr>
                <td id="image"><img src="/images/pokemon/{{imageUrl}}" width="64"></td>
                <td id="id">{{id}}</td>
                <td id="name">{{name}}</td>
                <td id="types">{{types}}</td>
                <td id="description">{{description}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>

</div>